.add_card_photo_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.add_photo {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 30% !important;
    height: unset;
}

.add_card_modal > .modal-content {
    width: 90% !important;
}

fieldset.passport4-file.file-block {
    height: 90%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.photo_btn {
    margin-top: 20px;
}

.passport4-file i{
    text-align: center;
}

.get_mobile_photo {
    margin-top: 20px;
}
.file-block.loading:before {
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    display:block;
    top:0;
    left:0;
    background:#FFFFFF88 url('../img/preloader.gif') center center no-repeat;
}
.add_card_modal {
    max-width: 500px;

}
#modal_connect .modal-content{
    width: 100%;
    flex-direction: column;
    margin-bottom: 10px;
}
.finish_step{
    width: 100px;
    text-align: center;
    padding: 15px !important;
}
@media (max-width: 767px) {
    .add_card_modal > .modal-content,.add_photo  {
        width: 70% !important;
    }
}
