@import url("../fonts/Manrope/stylesheet.css");
:root {
  --bs-secondary-rgb: 243, 243, 243;
  --bs-warning-rgb: 255, 119, 0;
  --bs-primary-rgb: 9, 151, 255;
}

a {
  color: var(--bs-link-color);
  text-decoration: underline;
}

*, ::after, ::before {
  box-sizing: border-box;
}

user agent stylesheet a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.agree-label {
  margin-top: 6px;
  margin-left: 10px;
  font-size: 17px;
}

user agent stylesheet label {
  cursor: default;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.bg-white {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
}

body {
  background: #eeeeee;
  font-family: "Manrope", var(--bs-font-sans-serif);
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --bs-blue: #92170a;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #530d05;
  --bs-link-hover-color: #92170a;
  --bs-code-color: #6c3e3a;
  --bs-highlight-bg: #fff3cd;
}

.max-h {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.btn-primary {
  --bs-btn-bg: var(--primary-color);
  --bs-btn-border-color: var(--primary-color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--secondary-color);
  --bs-btn-hover-border-color: var(--secondary-color);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--secondary-color);
  --bs-btn-active-border-color: var(--secondary-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--secondary-color);
  --bs-btn-disabled-border-color: var(--secondary-color);
}

.btn-outline-primary {
  --bs-btn-color: var(--primary-color);;
  --bs-btn-border-color: var(--primary-color);;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--secondary-color);
  --bs-btn-hover-border-color: var(--secondary-color);
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--secondary-color);
  --bs-btn-active-border-color: var(--secondary-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--secondary-color);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--secondary-color);
  --bs-gradient: none;
}

.btn-primary.orange {
  --bs-btn-bg: #ff7700;
  --bs-btn-border-color: #ff7700;
  --bs-btn-color: #ffffff;
  --bs-btn-hover-bg: #da6600;
  --bs-btn-hover-border-color: #da6600;
  --bs-btn-active-bg: #da6600;
  --bs-btn-active-border-color: #da6600;
}

.btn-outline-primary {
  --bs-btn-color: var(--primary-color);
  --bs-btn-border-color: var(--primary-color);
}

.btn[class*=border-] {
  --bs-btn-border-width: var(--bs-border-width);
}

.form-check-input:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

body {
  background: #eeeeee;
  font-family: "Manrope", var(--bs-font-sans-serif);
}

.font-size-small {
  font-size: 0.85rem;
}

.font-size-extra-small {
  font-size: 0.625rem;
}

.bg-orange-gradient {
  background: url(../img/design/orange_bg.png) center center/contain no-repeat, linear-gradient(99.09deg, #ffaf66 0%, #ff8515 100%);
}

footer {
  padding: 40px 0;
}

#calculator_wrapper {
  --calculate-rgb: var(--calculate_green, var(--bs-warning-rgb));
}
#calculator_wrapper .bg-warning {
  background-color: rgba(var(--calculate-rgb), var(--bs-bg-opacity)) !important;
}
#calculator_wrapper .text-warning {
  color: rgba(var(--calculate-rgb), var(--bs-text-opacity)) !important;
}

.ion_slider_wrapper {
  --color_ui: rgba(var(--calculate-rgb), 1);
  --top_ui: 40px;
}
.ion_slider_wrapper .irs--round .irs-bar {
  background-color: var(--color_ui);
  top: 20px;
}
.ion_slider_wrapper .irs--round .irs-handle {
  border-color: var(--color_ui);
  background-color: var(--color_ui);
  box-shadow: 0 0px 0px 5px rgba(var(--calculate-rgb), 0.5);
  width: 18px;
  height: 18px;
  top: 14px;
}
.ion_slider_wrapper .irs--round .irs-min,
.ion_slider_wrapper .irs--round .irs-max {
  color: #282735;
  font-size: 10px;
  line-height: inherit;
  top: var(--top_ui);
  padding: 0;
  background-color: transparent;
  border-radius: 0;
}
.ion_slider_wrapper .irs--round .irs-single {
  font-size: 10px;
  line-height: inherit;
  text-shadow: none;
  padding: 0;
  background-color: transparent;
  color: #282735;
  border-radius: 4px;
}
.ion_slider_wrapper .irs-from,
.ion_slider_wrapper .irs-to,
.ion_slider_wrapper .irs-single {
  top: var(--top_ui);
}
.ion_slider_wrapper .irs--round .irs-single:before {
  content: none;
}
.ion_slider_wrapper .irs--round .irs-line {
  top: 20px;
}
.ion_slider_wrapper .irs--round {
  height: 40px;
}

.modal h2 {
  color: #282735;
}
.modal .btn-absolute {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.modal form div.error {
  font-size: 0.85rem;
  margin-top: 5px;
  color: var(--bs-danger);
}

.timerOutWrapper {
  box-sizing: border-box;
  padding: 10px;
  margin-right: 10px;
  background-color: var(--bs-gray-500);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.timerOutWrapper .timerOut {
  width: 20px;
  height: 20px;
  display: block;
}

.loading {
  overflow: hidden;
}
.loading:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 99;
  background-color: rgba(var(--bs-secondary-rgb), 0.9);
}
.loading:after {
  content: "\f130";
  font-family: "bootstrap-icons";
  position: absolute;
  font-weight: bold;
  font-size: 32px;
  z-index: 100;
  color: black;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  animation: rotation 2s infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z' /%3e%3c/svg%3e");
}

.navbar-toggler:focus {
  box-shadow: none;
}

.logo_payment img {
  height: 18px;
}

/*FIXED*/
#kladr_autocomplete ul.autocomplete li:first-child {
  display: none;
}

/*END FIXED*/
#user-rules img {
  width: 125px;
}
#user-rules .d-grid {
  grid-template: 1fr/repeat(2, 1fr);
  grid-gap: 0.5rem;
}
#user-rules .d-grid > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews .owl-dots {
  display: flex;
  text-align: center;
  margin: 10px 0;
  justify-content: center;
}
.reviews .owl-dots .owl-dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #0c1021;
  margin: 0 2px;
}
.reviews .owl-dots .owl-dot.active {
  background: #f07639;
}
.reviews .review-item {
  min-height: 185px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  #user-rules img {
    width: 75px;
    margin-bottom: 10px;
  }
  #user-rules p {
    line-height: 1;
    font-size: 0.85rem;
  }
  .reviews .review-item {
    min-height: 290px;
  }
}
@media screen and (max-width: 1200px) {
  .car-deposit-link {
    display: none;
  }
}

#car-deposit-popup {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #304474;
  color: #fff;
  position: relative;
}
#car-deposit-popup .close {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
}
#car-deposit-popup .content {
  margin: 15px;
}
#car-deposit-popup .btn {
  margin-left: 10px;
}
@media screen and (min-width: 1200px) {
  #car-deposit-popup {
    display: none;
  }
}

#car_deposit .window {
  padding: 25px 50px;
  height: 625px;
  background: rgb(249, 163, 0);
}
@media screen and (max-width: 1200px) {
  #car_deposit .window {
    height: auto;
    padding: 15px 25px;
  }
}
#car_deposit .form-container {
  max-width: 375px;
}
#car_deposit .form-container button {
  margin-top: 12px;
}
#car_deposit .form-container__mobile {
  margin-top: 25px;
  max-width: 100%;
}
@media screen and (min-width: 1200px) {
  #car_deposit .form-container__desktop {
    display: block;
  }
  #car_deposit .form-container__mobile {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  #car_deposit .form-container__desktop {
    display: none;
  }
  #car_deposit .form-container__mobile {
    display: block;
  }
}
#car_deposit .keys {
  max-width: 175px;
}
#car_deposit .keys img {
  width: 100%;
}
@media screen and (max-width: 1200px) {
  #car_deposit .keys {
    order: 1;
  }
}
@media screen and (max-width: 500px) {
  #car_deposit .keys {
    order: 2;
  }
}
#car_deposit .title {
  display: flex;
  align-items: end;
  flex-direction: column;
}
@media screen and (max-width: 1200px) {
  #car_deposit .title {
    align-items: start;
  }
}
@media screen and (max-width: 1200px) {
  #car_deposit .info {
    width: 100%;
    justify-content: space-between;
  }
}
#car_deposit #success-modal .modal-content {
  padding: 50px;
  text-align: center;
}
#car_deposit #success-modal .first-loan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0;
}
@media screen and (max-width: 500px) {
  #car_deposit #success-modal .first-loan {
    flex-direction: column;
  }
}
@media screen and (min-width: 676px) {
  #car_deposit #success-modal .modal-dialog {
    max-width: 700px;
  }
}
#car_deposit .orange {
  color: #ff7700;
}
#car_deposit .terms {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 125px;
  gap: 50px;
}
#car_deposit .terms-list li {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 20px;
  font-size: 19px;
}
@media screen and (max-width: 1200px) {
  #car_deposit .terms-list li {
    font-size: 15px;
  }
}
#car_deposit .terms-list li:before {
  content: "";
  background: url(../img/terms-list-icon.svg) no-repeat center;
  background-size: cover;
  min-width: 40px;
  height: 40px;
  margin-right: 25px;
}
@media screen and (max-width: 1200px) {
  #car_deposit .terms-list {
    padding-left: 0px;
    order: 1;
  }
}
@media screen and (max-width: 500px) {
  #car_deposit .terms-list {
    order: 2;
  }
}
@media screen and (max-width: 1200px) {
  #car_deposit .terms {
    justify-content: space-between;
    margin-top: 25px;
  }
}
@media screen and (max-width: 500px) {
  #car_deposit .terms {
    flex-direction: column;
  }
}

.uw__avatar {
  background-image: url("../img/avatar_bot.jpg") !important;
}

input[type=checkbox].big-checkbox {
  margin-right: 0.5rem;
  width: 32px;
  height: 32px;
  margin-top: 0.5em;
}

/*# sourceMappingURL=style.css.map */
