.autocomplete-suggestions {
position:absolute;
top:0px;
left:0px;
max-height:350px;
overflow-y:auto;
overflow-x:hidden;
box-shadow: 0px 0px 5px #999;
}

.autocomplete-suggestion {
border-bottom:1px solid #eee;
background:#FFF;
text-align:left;
overflow:auto;
padding:5px 10px;
cursor:pointer;
}

.autocomplete-suggestion:hover,
.autocomplete-suggestion .selected {
background:#F0F0F0;

}

.autocomplete-suggestion div {
padding:2px 5px;
white-space:nowrap;
}

.autocomplete-suggestion strong {
font-weight:normal;
}

.autocomplete-suggestion span {
    display:block;
    font-size:12px;
    font-weight:bold;    
    color:#333;
    overflow:hidden;
}
.autocomplete-suggestion span strong {
    color:#3399FF;
}
.autocomplete-suggestion small {
    display:block;
    font-size:11px;
    color:#666;
    line-height:15px;
    max-height:30px;
    overflow:hidden;
}

